In [ ]:
# DataFrame的SQL操作(select,where,order,group,合併、新增、刪除、計算、聚合、小計、樞紐、數值格式設定)

In [ ]:
# MySQL_Pandas_GeniusData

In [1]:
import pymysql
import pandas as pd
import numpy as np

#資料載入
conn = pymysql.connect("localhost", "root", "admin", "genius_data", charset="utf8")
sql = "SELECT * FROM genius_data.gd_202007 "
df = pd.read_sql(sql, conn)
df.head(10)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Month,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4,30.765,4.9,490.0,366.20,123.80,100.0,OBM,2019-04-07,2019-04-07
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4,30.765,4.9,490.0,366.31,123.69,100.0,OBM,2019-04-07,2019-04-07
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4,30.765,4.9,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4,30.765,3.9,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,4,30.765,2.1,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,4,30.765,15.5,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,4,30.765,15.5,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07
7,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,4,30.765,4.3,6020.0,3839.08,2180.92,1400.0,OBM,2019-04-07,2019-04-07
8,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,4,30.765,4.3,1720.0,1101.32,618.68,400.0,OBM,2019-04-07,2019-04-07
9,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,4,30.765,4.0,2400.0,1759.02,640.98,600.0,OBM,2019-04-07,2019-04-07

# 資料型態

In [7]:
print(type( df))   #DataFrame:pandas的二維度資料型態
print(type( ['Country'] ))  #list
print(type( df['Country'] ))  #Series:pandas的一維度資料型態
print(type( df['Country'] == 'Taiwan' ))  #Series:布林值的一維度資料型態
print(type( df[ df['Country'] == 'Taiwan'] ))  #DataFrame:pandas的二維度資料型態

<class 'pandas.core.frame.DataFrame'>
<class 'list'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# 資料整理

+ SQL 查詢中的 where 描述<br>
+ SQL 查詢中的 select 描述<br>
+ SQL 查詢中的衍生欄位描述<br>
+ SQL 查詢中的 order by 描述<br>
+ SQL 查詢中的聚合函數描述<br>
+ SQL 查詢中的 group by 描述<br>

# SELECT
SQL查詢中的 SELECT:標註變數名稱可以將變數從資料框中選出

In [10]:
df[['Country', 'Customer Name', 'Revenue']]

                          Country Customer Name  Revenue
0      United Arab Emirates (UAE)           gct    490.0
1      United Arab Emirates (UAE)           gct    490.0
2      United Arab Emirates (UAE)           gct    490.0
3      United Arab Emirates (UAE)           gct  19500.0
4      United Arab Emirates (UAE)           gct   2100.0
...                           ...           ...      ...
73282                      Russia         asbis  16000.0
73283                      Russia         asbis  22188.0
73284                      Russia         asbis   9874.8
73285                      Russia         asbis  20988.0
73286                      Russia         asbis   9094.8

[73287 rows x 3 columns]

# WHERE
撰寫布林判斷條件將符合條件的觀測值從資料框中篩選出，實踐where函數的功能：

In [11]:
df[ df['Country'] == 'Russia' ]

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Month,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L
155,19100108,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,4,30.75,2.20,220.0,142.54,77.46,100.0,OBM,2019-04-03,2019-04-03
156,19100108,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,4,30.75,2.20,220.0,142.48,77.52,100.0,OBM,2019-04-03,2019-04-03
157,19100108,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,4,30.75,2.20,1100.0,709.05,390.95,500.0,OBM,2019-04-03,2019-04-03
158,19100108,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,4,30.75,2.20,660.0,434.43,225.57,300.0,OBM,2019-04-03,2019-04-03
159,19100108,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,4,30.75,2.20,440.0,285.64,154.36,200.0,OBM,2019-04-03,2019-04-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29

In [23]:
df['Country'] == 'Russia'  #若不再包個df[ ]，那就只是布林值(True/False)

0        False
1        False
2        False
3        False
4        False
         ...
73282     True
73283     True
73284     True
73285     True
73286     True
Name: Country, Length: 73287, dtype: bool

In [12]:
# WHERE多個條件，可以使用 | 或 & 符號連結
df[  (df['Year'] == 2020) & (df['Country'] == 'Russia')  ]

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Month,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L
68226,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.00,16000.0,12411.20,3588.80,8000.0,OBM,2020-01-20,2020-01-20
68227,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.10,10500.0,8614.00,1886.00,5000.0,OBM,2020-01-20,2020-01-20
68228,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.20,11000.0,7297.00,3703.00,5000.0,OBM,2020-01-20,2020-01-20
68229,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.20,4400.0,2979.00,1421.00,2000.0,OBM,2020-01-20,2020-01-20
68230,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.20,220.0,149.02,70.98,100.0,OBM,2020-01-20,2020-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29

In [12]:
# WHERE多個條件，可以使用 | 或 & 符號連結
df[  (df['Year'] == 2020) & (df['Country'] == 'Russia')  ]

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Month,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L
68226,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.00,16000.0,12411.20,3588.80,8000.0,OBM,2020-01-20,2020-01-20
68227,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.10,10500.0,8614.00,1886.00,5000.0,OBM,2020-01-20,2020-01-20
68228,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.20,11000.0,7297.00,3703.00,5000.0,OBM,2020-01-20,2020-01-20
68229,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.20,4400.0,2979.00,1421.00,2000.0,OBM,2020-01-20,2020-01-20
68230,19100538,SF1,俄羅斯&獨立國協,Russia,227053,LIMITED LIABILITY COMPANY ?MAR,227053.0,marvel,Mouse,Wired Mouse,...,1,29.88,2.20,220.0,149.02,70.98,100.0,OBM,2020-01-20,2020-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,7,29.26,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29

# 新增(生成新變數)
生成新變數，搭配 apply() 與 lambda 函數將公式應用到每一個觀測值。<br>
apply函數會自動遍歷每一行DataFrame的數據，最後將所有結果組合成一個Series數據結構並返回。

In [14]:
df['Country_abb'] = df['Country'].apply(lambda y: y[3:5])
df.head(10)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.9,490.0,366.20,123.80,100.0,OBM,2019-04-07,2019-04-07,te
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.9,490.0,366.31,123.69,100.0,OBM,2019-04-07,2019-04-07,te
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.9,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,te
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,3.9,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,te
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,30.765,2.1,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,te
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,30.765,15.5,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,30.765,15.5,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te
7,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,30.765,4.3,6020.0,3839.08,2180.92,1400.0,OBM,2019-04-07,2019-04-07,te
8,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,30.765,4.3,1720.0,1101.32,618.68,400.0,OBM,2019-04-07,2019-04-07,te
9,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,30.765,4.0,2400.0,1759.02,640.98,600.0,OBM,2019-04-07,2019-04-07,te

In [15]:
df['Revenue_TWD'] = df['Revenue'].apply(lambda y: y*30.1759256)
df.head(10)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb,Revenue_TWD
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.9,490.0,366.20,123.80,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.9,490.0,366.31,123.69,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.9,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,3.9,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,te,588430.549200
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,2.1,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,te,63369.443760
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,15.5,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te,46772.684680
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,15.5,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te,46772.684680
7,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,4.3,6020.0,3839.08,2180.92,1400.0,OBM,2019-04-07,2019-04-07,te,181659.072112
8,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,4.3,1720.0,1101.32,618.68,400.0,OBM,2019-04-07,2019-04-07,te,51902.592032
9,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Speaker,2.0 Speaker,...,4.0,2400.0,1759.02,640.98,600.0,OBM,2019-04-07,2019-04-07,te,72422.221440

### assign函數
為DataFrame分配新row。<br>
返回一個新對象，該對象包含除新row之外的所有原始row。重新分配的現有列將被覆蓋。

In [58]:
df = pd.DataFrame({ 'temp_c' : [ 17.0 , 25.0 ]}, 
    index=[ 'Portland' , 'Berkeley' ]) 
df

          temp_c
Portland    17.0
Berkeley    25.0

In [59]:
df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32 )

          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [60]:
#或者，可以通過直接引用現有的Series或序列來實現相同的行為:
df.assign(temp_f=df[ 'temp_c' ] * 9 / 5 + 32 )

          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [61]:
#在Python 3.6+中，您可以在同一個賦值中創建多個列，其中一個列依賴於同一個賦值中定義的另一個列:
df.assign(temp_f= lambda x: x[ 'temp_c' ] * 9 / 5 + 32 , 
          temp_k= lambda x: (x[ 'temp_f' ] +   459.67 ) * 5 / 9 )

          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15

# 刪除
使用.drop

### 刪除column

In [16]:
#法一: 一定要指定axis=1(column) ,否則會報錯
df.drop(['Country_abb'], axis=1)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Revenue_TWD
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.90,490.0,366.20,123.80,100.0,OBM,2019-04-07,2019-04-07,14786.203544
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.90,490.0,366.31,123.69,100.0,OBM,2019-04-07,2019-04-07,14786.203544
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.90,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,14786.203544
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,3.90,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,588430.549200
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,30.765,2.10,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,63369.443760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29,482814.809600
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29,669543.437213
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29,297981.230115
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29,633332.326493
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29,274444.008147

In [17]:
#法二
df.drop(columns=['Revenue_TWD'])

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Exchange Rate,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.90,490.0,366.20,123.80,100.0,OBM,2019-04-07,2019-04-07,te
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.90,490.0,366.31,123.69,100.0,OBM,2019-04-07,2019-04-07,te
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,4.90,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,te
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,30.765,3.90,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,te
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,30.765,2.10,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,te
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29,si
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29,si
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29,si
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29,si
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,29.260,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29,si

### 刪除row

In [20]:
#法一
df.drop([0, 1])

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb,Revenue_TWD
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.90,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,3.90,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,te,588430.549200
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,2.10,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,te,63369.443760
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,15.50,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te,46772.684680
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,15.50,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te,46772.684680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29,si,482814.809600
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29,si,669543.437213
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29,si,297981.230115
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29,si,633332.326493
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29,si,274444.008147

In [19]:
#法二
df.drop(index=[0, 1])

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb,Revenue_TWD
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.90,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,3.90,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,te,588430.549200
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,2.10,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,te,63369.443760
5,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,15.50,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te,46772.684680
6,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,15.50,1550.0,647.59,902.41,100.0,OBM,2019-04-07,2019-04-07,te,46772.684680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29,si,482814.809600
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29,si,669543.437213
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29,si,297981.230115
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29,si,633332.326493
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29,si,274444.008147

# 連接:merge函數
SQL中的Join

In [62]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': np.random.randn(4)})

df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                     'value': np.random.randn(4)})

In [66]:
df1

  key     value
0   A  3.155296
1   B -1.240703
2   C  0.933058
3   D -0.491113

In [67]:
df2

  key     value
0   B -1.081874
1   D  0.581250
2   D -0.100212
3   E -1.136869

### 內連接
內連接使用比較運算符根據每個表共有的column的值匹配兩個表中的row，在SQL中實現內連接使用INNER JOIN

In [63]:
pd.merge(df1, df2, on='key')

  key   value_x   value_y
0   B -1.240703 -1.081874
1   D -0.491113  0.581250
2   D -0.491113 -0.100212

In [65]:
#merge()提供了一些參數，可以將一个DataFrame的column与一个DataFeame的索引連接在一起
indexed_df2 = df2.set_index('key')  #將key改為index
pd.merge(df1, indexed_df2, left_on='key', right_index=True)

  key   value_x   value_y
1   B -1.240703 -1.081874
3   D -0.491113  0.581250
3   D -0.491113 -0.100212

### 左/右外聯接
在SQL中實現左/右外連接可以使用LEFT OUTER JOIN和RIGHT OUTER JOIN<br>
在pandas中實現同樣可以使用merge()並指定how關鍵字為left或者right即可

In [69]:
pd.merge(df1, df2, on='key', how='left')

  key   value_x   value_y
0   A  3.155296       NaN
1   B -1.240703 -1.081874
2   C  0.933058       NaN
3   D -0.491113  0.581250
4   D -0.491113 -0.100212

### 全連接
全連接返回左表和右表中的所有行，無論是否匹配，但並不是所有的數據庫都支持，比如mysql就不支持，在SQL中實現全連接可以使用FULL OUTER JOIN

In [71]:
#在pandas中實現同樣可以使用merge()並指定how關鍵字為outer
pd.merge(df1, df2, on='key', how='outer')

  key   value_x   value_y
0   A  3.155296       NaN
1   B -1.240703 -1.081874
2   C  0.933058       NaN
3   D -0.491113  0.581250
4   D -0.491113 -0.100212
5   E       NaN -1.136869

# 合併
SQL中UNION操作用於合併兩個或多個SELECT語句的結果集，UNION與UNION ALL類似，但是UNION將刪除重複的行。示例代碼如下

In [72]:
#在pandas中可以使用concat()實現UNION ALL
pd.concat([df1, df2])

  key     value
0   A  3.155296
1   B -1.240703
2   C  0.933058
3   D -0.491113
0   B -1.081874
1   D  0.581250
2   D -0.100212
3   E -1.136869

In [73]:
#上面是UNION ALL保留重複值，如果希望刪除可以使用  drop_duplicates()
pd.concat([df1, df2]).drop_duplicates()

  key     value
0   A  3.155296
1   B -1.240703
2   C  0.933058
3   D -0.491113
0   B -1.081874
1   D  0.581250
2   D -0.100212
3   E -1.136869

# 計算

In [21]:
print("總和: ", df["Quantity"].sum())
print("平均: ", df["Quantity"].mean())
print("最大: ", df["Quantity"].max())
print("最小: ", df["Quantity"].min())
print("計數: ", df["Quantity"].count())
print("標準差: ", df["Quantity"].std())
print("變異數: ", df["Quantity"].var())
print("25%: ", df["Quantity"].quantile(q=0.25))
print("50%: ", df["Quantity"].quantile(q=0.5))
print("75%: ", df["Quantity"].quantile(q=0.75))

總和:  33463901.0
平均:  456.6144200199217
最大:  54560.0
最小:  -16400.0
計數:  73287
標準差:  1294.965925021642
變異數:  1676936.7469671573
25%:  20.0
50%:  100.0
75%:  400.0

### 針對欄位計算
df[WHERE][[Σ值]].agg()

In [26]:
df[  (df['Year']==2020) & (df['Country']=='United Arab Emirates (UAE)')  ]  [['Quantity']].sum()

Quantity    177084.0
dtype: float64

In [24]:
df[  (df['Year']==2020) & (df['Country']=='Russia')  ]  [['Quantity', 'Revenue', 'Revenue_TWD']].mean()

Quantity          840.210210
Revenue          3827.834024
Revenue_TWD    115508.434718
dtype: float64

# 聚合函數.agg()
DataFrame.agg(func, axis=0, *args, **kwargs)

In [54]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [55]:
#在row上聚合这些函数
df.agg(['sum', 'min'])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [56]:
#每个列有不同的聚合
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

        A    B
max   NaN  8.0
min   1.0  2.0
sum  12.0  NaN

In [57]:
#对column进行聚合
df.agg("mean", axis="columns")

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64

# groupby
df[WHERE].groupby(by = [SELECT])[[Σ值]].agg()

In [27]:
df[ (df['Year']==2020) ].groupby(by = ['Department','Country'])[['Quantity', 'Revenue']].sum()

                                           Quantity     Revenue
Department Country
SF1        Azerbaijan                       11670.0    52287.40
           Georgia                          47592.0   198737.78
           Kazakhstan                         460.0     7564.00
           Moldova, Republic of             18596.0    79988.28
           Russia                          279790.0  1274668.73
           Ukrainian SSR                    87800.0   338144.40
SF2        Argentina                       651219.0  2840498.18
           Bolivia                          43264.0   234896.80
           Chile                           196292.0  1004028.28
           Colombia                        317944.0  1569371.42
           Costa Rica                       13708.0    60640.40
           Ecuador                         203723.0   791263.90
           Peru                            172303.0   806501.98
           Uruguay                          22198.0   110253.04
SF3        Bosnia and Herzegowina            8492.0    45895.20
           Croatia (local name Hrvatska)    26032.0   150170.46
           Czech Republic                  349036.0  2157050.52
           France                           17996.0   118870.00
           Hungary                         208055.0  1053215.92
           Macedonia, the former Yugoslav   12057.0    69388.84
           Portugal                         15860.0    73496.00
           Romania                          21954.0   148639.68
           Serbia                          108583.0   605629.26
           Slovenia                         10116.0    56433.64
           Spain                            58370.0   299129.80
           United Kingdom                   36382.0   223291.80
SF4        Australia                         4957.0    39984.00
           Indonesia                        86010.0   276739.50
           Malaysia                          5400.0    43650.00
           New Zealand                       7470.0    62176.90
           Philippines                     110934.0   473438.00
           Thailand                         49451.0   319394.17
           Vietnam                         264311.0   982804.85
SF5        Iran                            144500.0   620607.80
           Israel                           43840.0   212755.80
           South Africa                     64720.0   329675.40
           United Arab Emirates (UAE)      177084.0   653933.64

# Order(sort)

In [45]:
#根據index排序

df.sort_index(axis=0, ascending=1)

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb,Revenue_TWD
0,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.90,490.0,366.20,123.80,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
1,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.90,490.0,366.31,123.69,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
2,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,4.90,490.0,366.18,123.82,100.0,OBM,2019-04-07,2019-04-07,te,14786.203544
3,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Mouse,Wireless Mouse,...,3.90,19500.0,14171.00,5329.00,5000.0,OBM,2019-04-07,2019-04-07,te,588430.549200
4,19100043,SF5,非洲&中東,United Arab Emirates (UAE),100337,GENIUS COMPUTER TECHNOLOGY LTD,100337.0,gct,Headset,Headset,...,2.10,2100.0,1470.00,630.00,1000.0,OBM,2019-04-07,2019-04-07,te,63369.443760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73282,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,8.00,16000.0,11622.00,4378.00,2000.0,OBM,2020-07-29,2020-07-29,si,482814.809600
73283,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,18.49,22188.0,11657.00,10531.00,1200.0,OBM,2020-07-29,2020-07-29,si,669543.437213
73284,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,18.99,9874.8,5051.38,4823.42,520.0,OBM,2020-07-29,2020-07-29,si,297981.230115
73285,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,17.49,20988.0,11590.10,9397.92,1200.0,OBM,2020-07-29,2020-07-29,si,633332.326493
73286,20100270,SF1,俄羅斯&獨立國協,Russia,227087,ASBIS LTD,227033.0,asbis,Web Cam,Web Cam,...,17.49,9094.8,5022.37,4072.43,520.0,OBM,2020-07-29,2020-07-29,si,274444.008147

In [29]:
# 根據指定column排序

df.sort_values(by='Revenue_TWD')

,Order Number,Department,Continent,Country,Ship To Number,Ship_To AlphaName,Customer Number,Customer Name,LargeCat,MediumCat,...,Foreign Unit Price,Revenue,Foreign Extended Cost,Foreign Ext# Margin,Quantity,Description,Date Invoice,Date G/L,Country_abb,Revenue_TWD
37110,17100357,SF2,美洲,Brazil,101648,ALDO COMPONENTES ELETRONICOS L,101648.0,ALDO COMPONENTES ELETRONICOS LTDA,KB/K+M,Wired KB,...,3.90,-63960.0,-51766.6,-12193.40,-16400.0,OBM,2017-04-28,2017-04-28,zi,-1.930052e+06
54438,17101052,SF1,俄羅斯&獨立國協,Russia,228113,ATLAS LLC,228113.0,ATLAS LLC,Gaming,Gaming Speaker,...,55.00,-27500.0,-21478.4,-6021.55,-500.0,OBM,2017-10-25,2017-10-25,si,-8.298380e+05
54772,17100123,SF3,歐洲,Germany,402,KYE SYSTEMS EUROPE GmbH,402.0,KYE SYSTEMS EUROPE GmbH,Gaming,Gaming Speaker,...,32.61,-27425.0,-23024.7,-4400.28,-841.0,OBM,2017-11-27,2017-11-27,ma,-8.275748e+05
37109,17100357,SF2,美洲,Brazil,101648,ALDO COMPONENTES ELETRONICOS L,101648.0,ALDO COMPONENTES ELETRONICOS LTDA,Mouse,Wired Mouse,...,1.99,-23880.0,-15970.8,-7909.20,-12000.0,OBM,2017-04-28,2017-04-28,zi,-7.206011e+05
54436,17101052,SF1,俄羅斯&獨立國協,Russia,228113,ATLAS LLC,228113.0,ATLAS LLC,Gaming,Gaming Speaker,...,30.00,-18000.0,-13950.7,-4049.28,-600.0,OBM,2017-10-25,2017-10-25,si,-5.431667e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71019,20100140,SF4,亞洲,Vietnam,190748,PETROLEUM GENERAL DISTRIBUTION,190748.0,psd,Mouse,Wireless Mouse,...,4.60,138000.0,110931.0,27069.00,30000.0,OBM,2020-05-02,2020-05-02,tn,4.164278e+06
65105,19100421,SF4,亞洲,Vietnam,190748,PETROLEUM GENERAL DISTRIBUTION,190748.0,psd,Mouse,Wireless Mouse,...,4.60,142600.0,111981.0,30618.70,31000.0,OBM,2019-10-20,2019-10-20,tn,4.303087e+06
66542,19100482,SF4,亞洲,Vietnam,190748,PETROLEUM GENERAL DISTRIBUTION,190748.0,psd,Mouse,Wireless Mouse,...,4.60,156400.0,122893.0,33507.00,34000.0,OBM,2019-11-30,2019-11-30,tn,4.719515e+06
65150,19100424,SF4,亞洲,Vietnam,190748,PETROLEUM GENERAL DISTRIBUTION,190748.0,psd,Mouse,Wireless Mouse,...,4.60,158700.0,124190.0,34510.40,34500.0,OBM,2019-10-20,2019-10-20,tn,4.788919e+06
5277,17101277,SF4,亞洲,Vietnam,190748,PETROLEUM GENERAL DISTRIBUTION,190748.0,psd,Mouse,Wireless Mouse,...,4.60,163944.0,133019.0,30924.80,35640.0,OBM,2018-01-07,2018-01-07,tn,4.947162e+06

In [ ]:
import pandas as pd
import numpy as np

# 小計
其實就是新增欄位

In [47]:
dfr = pd.DataFrame(np.random.randn(4, 5), columns=['A', 'B', 'C', 'D', 'E'])
dfr

          A         B         C         D         E
0 -0.977529  0.412501 -0.208683  1.763222  0.206129
1 -0.632951 -0.182423  0.231149  1.602957  0.274071
2 -0.944004 -2.361066 -1.236444 -0.512656  0.946369
3  1.157662 -0.648896 -2.769477  0.534018 -1.100906

### column小計

In [49]:
#法一
dfr['Col_sum'] = dfr.apply(lambda x: x.sum(), axis=1)
dfr

          A         B         C         D         E   Col_sum
0 -0.977529  0.412501 -0.208683  1.763222  0.206129  2.391279
1 -0.632951 -0.182423  0.231149  1.602957  0.274071  2.585605
2 -0.944004 -2.361066 -1.236444 -0.512656  0.946369 -8.215602
3  1.157662 -0.648896 -2.769477  0.534018 -1.100906 -5.655198

In [50]:
#法二
dfr['Col_sum_2']=dfr['A']+dfr['B']+dfr['C']+dfr['D']+dfr['E']
dfr

          A         B         C         D         E   Col_sum  Col_sum_2
0 -0.977529  0.412501 -0.208683  1.763222  0.206129  2.391279   1.195640
1 -0.632951 -0.182423  0.231149  1.602957  0.274071  2.585605   1.292802
2 -0.944004 -2.361066 -1.236444 -0.512656  0.946369 -8.215602  -4.107801
3  1.157662 -0.648896 -2.769477  0.534018 -1.100906 -5.655198  -2.827599

### row小計

In [51]:
#法一
dfr.loc['Row_sum'] = dfr.apply(lambda x: x.sum())
dfr

                A         B         C         D         E   Col_sum  Col_sum_2
0       -0.977529  0.412501 -0.208683  1.763222  0.206129  2.391279   1.195640
1       -0.632951 -0.182423  0.231149  1.602957  0.274071  2.585605   1.292802
2       -0.944004 -2.361066 -1.236444 -0.512656  0.946369 -8.215602  -4.107801
3        1.157662 -0.648896 -2.769477  0.534018 -1.100906 -5.655198  -2.827599
Row_sum -1.396821 -2.779885 -3.983455  3.387540  0.325662 -8.893916  -4.446958

In [52]:
#法二
dfr.loc['Row_sum_2']=dfr.loc[0]+dfr.loc[1]+dfr.loc[2]+dfr.loc[3]
dfr

,A,B,C,D,E,Col_sum,Col_sum_2
0,-0.977529,0.412501,-0.208683,1.763222,0.206129,2.391279,1.195640
1,-0.632951,-0.182423,0.231149,1.602957,0.274071,2.585605,1.292802
2,-0.944004,-2.361066,-1.236444,-0.512656,0.946369,-8.215602,-4.107801
3,1.157662,-0.648896,-2.769477,0.534018,-1.100906,-5.655198,-2.827599
Row_sum,-1.396821,-2.779885,-3.983455,3.387540,0.325662,-8.893916,-4.446958
Row_sum_2,-1.396821,-2.779885,-3.983455,3.387540,0.325662,-8.893916,-4.446958

# pivot_table : pandas的樞紐分析
幾乎包羅上面所有方式<br>
df[WHERE].pivot_table().sort()

In [53]:
df[ (df['LargeCat']=='Web Cam') ].pivot_table(    #前面可以加篩選(excel樞紐的左上)
               columns = ['LargeCat', 'Year'],   #column變數(excel樞紐的右上)
               index = ['Department','Country'],  #row列變數(excel樞紐的左下)
               values = ['Revenue'],              #excel樞紐的右下 Σ值
               aggfunc=np.sum,                    #計算方式
               margins=True,             #添加所有行/列小計/總計
               margins_name='Total',     #更改總計欄位名稱(預設為All，當margins=True時才會顯示)
               fill_value=0,  #用"某值"填滿遺漏值
               dropna=True    #丟棄NA值
                ).sort_index(    axis=1, ascending=False )  #排序

                                             Revenue                        \
LargeCat                                     Web Cam
Year                                            2020      2019        2018
Department Country
SF1        Armenia                               0.0    3312.0     4801.50
           Azerbaijan                            0.0       0.0      995.60
           Georgia                            2628.0    4731.6     5916.00
           Kazakhstan                         7564.0    8282.0        0.00
           Moldova, Republic of                  0.0       0.0      820.00
           Russia                           347237.2  143876.0   331490.86
           Turkmenistan                          0.0    1051.2      340.00
           Ukrainian SSR                     19966.8   21344.0    40920.00
           Uzbekistan                            0.0       0.0     3698.00
SF2        Argentina                        139858.4   75006.8    73772.40
           Bolivia                           10796.0    7038.0     9133.60
           Brazil                                0.0   15478.6    27160.00
           Chile                            107324.2   39003.4    15757.20
           Colombia                         295746.4  169764.8   120477.60
           Ecuador                           34658.0   14990.0    11840.50
           Mexico                                0.0       0.0     3518.00
           Panama                                0.0    4490.2        0.00
           Peru                             207308.0   20060.0    11168.30
           U.S.A                                 0.0  217000.0   160272.60
           Uruguay                           18349.2    2601.0     5754.50
SF3        Albania                               0.0       0.0        0.00
           Bosnia and Herzegowina                0.0    1700.0      501.50
           Bulgaria                              0.0       0.0      170.00
           Croatia (local name Hrvatska)      9971.6    4996.4    11590.00
           Cyprus                                0.0       0.0        0.00
           Czech Republic                   280323.2   96930.2    76006.60
           France                            15050.0   27763.6    19125.10
           Germany                               0.0       0.0        0.00
           Greece                                0.0     940.0      170.00
           Hungary                           49766.8   43990.4    28096.10
           Macedonia, the former Yugoslav     4048.0     782.4     2304.30
           Poland                                0.0   13584.0    29217.20
           Romania                           60189.6   10600.0     5359.00
           Serbia                            37520.4   21205.6    15099.50
           Slovenia                              0.0    3760.0     5914.50
           Spain                             88554.8    5551.2    11179.00
           United Kingdom                    41040.0    5110.0     6032.00
SF4        Australia                         27514.8       0.0        0.00
           Fiji                                  0.0       0.0      195.60
           Indonesia                             0.0       0.0        0.00
           Malaysia                          16400.0       0.0        0.00
           Maldives                              0.0       0.0      480.00
           New Zealand                       31692.0    2460.0      960.00
           Philippines                      114280.0       0.0     1400.00
           Thailand                          96986.8       0.0        0.00
           Vietnam                           57148.0    4200.0     1988.00
SF5        Iran                                  0.0       0.0        0.00
           Israel                                0.0       0.0     2533.00
           South Africa                       3230.0    3498.0     6718.30
           United Arab Emirates (UAE)        31156.0    3856.0     1700.00
SF6        Hong Kong                             0.0     850.0     1347.20
Total                                      2156308.2  999807.4  1055923.56


LargeCat                                                   Total
Year                                            2017
Department Country
SF1        Armenia                           6602.00    14715.50
           Azerbaijan                         380.00     1375.60
           Georgia                           3366.00    16641.60
           Kazakhstan                           0.00    15846.00
           Moldova, Republic of               841.50     1661.50
           Russia                           90069.00   912673.06
           Turkmenistan                         0.00     1391.20
           Ukrainian SSR                    41217.50   123448.30
           Uzbekistan                           0.00     3698.00
SF2        Argentina                       126031.00   414668.60
           Bolivia                           9334.00    36301.60
           Brazil                           31162.00    73800.60
           Chile                            28349.00   190433.80
           Colombia                         99291.00   685279.80
           Ecuador                          10020.00    71508.50
           Mexico                            1264.00     4782.00
           Panama                               0.00     4490.20
           Peru                              2544.30   241080.60
           U.S.A                           161150.00   538422.60
           Uruguay                           1161.50    27866.20
SF3        Albania                           1683.00     1683.00
           Bosnia and Herzegowina               0.00     2201.50
           Bulgaria                             0.00      170.00
           Croatia (local name Hrvatska)     4866.20    31424.20
           Cyprus                             320.00      320.00
           Czech Republic                   63419.00   516679.00
           France                            3080.58    65019.28
           Germany                          30134.61    30134.61
           Greece                               0.00     1110.00
           Hungary                          22091.40   143944.70
           Macedonia, the former Yugoslav    3974.00    11108.70
           Poland                           11874.90    54676.10
           Romania                           7971.50    84120.10
           Serbia                            5587.52    79413.02
           Slovenia                          2767.10    12441.60
           Spain                            10728.00   116013.00
           United Kingdom                    2184.50    54366.50
SF4        Australia                         2376.00    29890.80
           Fiji                                 0.00      195.60
           Indonesia                        12962.50    12962.50
           Malaysia                          1683.00    18083.00
           Maldives                             0.00      480.00
           New Zealand                       1360.00    36472.00
           Philippines                          0.00   115680.00
           Thailand                             0.00    96986.80
           Vietnam                           9740.00    73076.00
SF5        Iran                             11682.00    11682.00
           Israel                            1881.00     4414.00
           South Africa                      6721.80    20168.10
           United Arab Emirates (UAE)           0.00    36712.00
SF6        Hong Kong                            0.00     2197.20
Total                                      831871.41  5043910.57

# 數值格式設定

In [46]:
df['Quantity'].astype('int32', copy=True) #整數

0         100
1         100
2         100
3        5000
4        1000
         ...
73282    2000
73283    1200
73284     520
73285    1200
73286     520
Name: Quantity, Length: 73287, dtype: int32

In [47]:
df['Quantity'].map(lambda x:('%.1f')%x) #小數位數，四捨五入

0         100.0
1         100.0
2         100.0
3        5000.0
4        1000.0
          ...
73282    2000.0
73283    1200.0
73284     520.0
73285    1200.0
73286     520.0
Name: Quantity, Length: 73287, dtype: object

In [48]:
df['Revenue'].map(lambda x:format(x,','))  #千位分隔符(1)

0           490.0
1           490.0
2           490.0
3        19,500.0
4         2,100.0
           ...
73282    16,000.0
73283    22,188.0
73284     9,874.8
73285    20,988.0
73286     9,094.8
Name: Revenue, Length: 73287, dtype: object

In [49]:
df['Revenue'].apply("{:,}".format)  #千位分隔符(2)

0           490.0
1           490.0
2           490.0
3        19,500.0
4         2,100.0
           ...
73282    16,000.0
73283    22,188.0
73284     9,874.8
73285    20,988.0
73286     9,094.8
Name: Revenue, Length: 73287, dtype: object

In [31]:
#整數&千分位
df['Quantity'].astype(int).map(lambda x:format(x,','))
#df['Quantity'].astype(int).apply("{:,}".format)
#但type還是object，所以不能用來計算和做圖

0          100
1          100
2          100
3        5,000
4        1,000
         ...
71246      240
71247      160
71248    1,000
71249      300
71250      200
Name: Quantity, Length: 71251, dtype: object