In [1]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd 
import numpy as np
from pandas import Series,DataFrame

data_train = pd.read_csv(r"C:\Users\11004076\Downloads\train.csv")
df = pd.DataFrame(data_train)

In [2]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
age_df

      Age     Fare  Parch  SibSp  Pclass
0    22.0   7.2500      0      1       3
1    38.0  71.2833      0      1       1
2    26.0   7.9250      0      0       3
3    35.0  53.1000      0      1       1
4    35.0   8.0500      0      0       3
..    ...      ...    ...    ...     ...
886  27.0  13.0000      0      0       2
887  19.0  30.0000      0      0       1
888   NaN  23.4500      2      1       3
889  26.0  30.0000      0      0       1
890  32.0   7.7500      0      0       3

[891 rows x 5 columns]

In [5]:
known_age = age_df[age_df.Age.notnull()].iloc[:,:].values
unknown_age = age_df[age_df.Age.isnull()].iloc[:,:].values

In [4]:
known_age

array([[22.    ,  7.25  ,  0.    ,  1.    ,  3.    ],
       [38.    , 71.2833,  0.    ,  1.    ,  1.    ],
       [26.    ,  7.925 ,  0.    ,  0.    ,  3.    ],
       ...,
       [19.    , 30.    ,  0.    ,  0.    ,  1.    ],
       [26.    , 30.    ,  0.    ,  0.    ,  1.    ],
       [32.    ,  7.75  ,  0.    ,  0.    ,  3.    ]])

In [6]:
unknown_age

array([[     nan,   8.4583,   0.    ,   0.    ,   3.    ],
       [     nan,  13.    ,   0.    ,   0.    ,   2.    ],
       [     nan,   7.225 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.225 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8792,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan, 146.5208,   0.    ,   1.    ,   1.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,  15.5   ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  21.6792,   0.    ,   2.    ,   3.    ],
       [     nan,  35.5   ,   0.    ,   0.    ,   1.    ],
       [     nan,  27.7208,   0.    ,   0.    ,   1.    ],
       [     nan,  15.2458,   1.    ,   1.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.7875,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.775 ,   0.    ,   0.    ,   3.    ],
       [     nan,  24.15  ,   0.    ,   1.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  22.3583,   1.    ,   1.    ,   3.    ],
       [     nan,  15.2458,   2.    ,   0.    ,   3.    ],
       [     nan,   7.3125,   0.    ,   0.    ,   3.    ],
       [     nan,   8.6625,   0.    ,   0.    ,   3.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,  55.    ,   1.    ,   0.    ,   1.    ],
       [     nan,  25.925 ,   0.    ,   0.    ,   1.    ],
       [     nan,  25.4667,   1.    ,   3.    ,   3.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,  15.05  ,   0.    ,   0.    ,   2.    ],
       [     nan,  50.    ,   0.    ,   0.    ,   1.    ],
       [     nan,  15.5   ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,  25.4667,   1.    ,   3.    ,   3.    ],
       [     nan,   7.55  ,   0.    ,   0.    ,   3.    ],
       [     nan,  14.4542,   0.    ,   1.    ,   3.    ],
       [     nan,  15.5   ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.25  ,   0.    ,   0.    ,   3.    ],
       [     nan,  79.2   ,   0.    ,   0.    ,   1.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  31.    ,   0.    ,   0.    ,   1.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   2.    ],
       [     nan,  26.    ,   0.    ,   0.    ,   1.    ],
       [     nan,  27.7208,   0.    ,   0.    ,   1.    ],
       [     nan,  30.5   ,   0.    ,   0.    ,   1.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  23.25  ,   0.    ,   2.    ,   3.    ],
       [     nan,  12.35  ,   0.    ,   0.    ,   2.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan, 110.8833,   0.    ,   0.    ,   1.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,  23.25  ,   0.    ,   2.    ,   3.    ],
       [     nan, 133.65  ,   0.    ,   1.    ,   1.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,  16.1   ,   0.    ,   1.    ,   3.    ],
       [     nan,  35.    ,   0.    ,   0.    ,   1.    ],
       [     nan,   7.225 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8792,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8792,   0.    ,   0.    ,   3.    ],
       [     nan,  15.5   ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  82.1708,   0.    ,   1.    ,   1.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.7292,   0.    ,   0.    ,   3.    ],
       [     nan,  25.4667,   1.    ,   3.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   6.8583,   0.    ,   0.    ,   3.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   2.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.25  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  16.1   ,   0.    ,   1.    ,   3.    ],
       [     nan,   8.1125,   0.    ,   0.    ,   3.    ],
       [     nan,  19.9667,   0.    ,   1.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,  51.8625,   0.    ,   1.    ,   1.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   2.    ],
       [     nan,   7.725 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.25  ,   0.    ,   0.    ,   3.    ],
       [     nan,  52.    ,   0.    ,   0.    ,   1.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   2.    ],
       [     nan,  25.4667,   1.    ,   3.    ,   3.    ],
       [     nan,  19.9667,   0.    ,   1.    ,   3.    ],
       [     nan,  14.4583,   0.    ,   0.    ,   3.    ],
       [     nan,  15.1   ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.6292,   0.    ,   0.    ,   3.    ],
       [     nan,  26.55  ,   0.    ,   0.    ,   1.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,  24.15  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.225 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan, 221.7792,   0.    ,   0.    ,   1.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan,  22.3583,   2.    ,   0.    ,   3.    ],
       [     nan,  14.5   ,   0.    ,   0.    ,   3.    ],
       [     nan,  13.8625,   0.    ,   0.    ,   2.    ],
       [     nan,   7.8292,   0.    ,   0.    ,   3.    ],
       [     nan, 227.525 ,   0.    ,   0.    ,   1.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  14.4583,   0.    ,   1.    ,   3.    ],
       [     nan,   8.7125,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   2.    ,   0.    ,   3.    ],
       [     nan,  33.    ,   0.    ,   0.    ,   2.    ],
       [     nan,   7.225 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,  42.4   ,   0.    ,   0.    ,   1.    ],
       [     nan,   7.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,  15.5   ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.7333,   0.    ,   0.    ,   3.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   1.    ],
       [     nan,  16.1   ,   0.    ,   1.    ,   3.    ],
       [     nan,  56.4958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.55  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8292,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.775 ,   0.    ,   0.    ,   3.    ],
       [     nan,  52.    ,   0.    ,   1.    ,   1.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   2.    ],
       [     nan,   8.1375,   0.    ,   0.    ,   3.    ],
       [     nan,  56.4958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.7333,   0.    ,   0.    ,   3.    ],
       [     nan,  15.2458,   1.    ,   1.    ,   3.    ],
       [     nan,  26.55  ,   0.    ,   0.    ,   1.    ],
       [     nan,  15.5   ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.7375,   0.    ,   0.    ,   3.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   2.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,  30.    ,   0.    ,   0.    ,   1.    ],
       [     nan,  14.5   ,   0.    ,   0.    ,   3.    ],
       [     nan,  39.6   ,   0.    ,   0.    ,   1.    ],
       [     nan,  24.15  ,   0.    ,   1.    ,   3.    ],
       [     nan,   7.225 ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.7375,   0.    ,   0.    ,   3.    ],
       [     nan,  23.45  ,   2.    ,   1.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,  30.6958,   0.    ,   0.    ,   1.    ],
       [     nan,   0.    ,   0.    ,   0.    ,   1.    ],
       [     nan,   6.95  ,   0.    ,   0.    ,   3.    ],
       [     nan,  56.4958,   0.    ,   0.    ,   3.    ],
       [     nan,   7.75  ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan,   8.05  ,   0.    ,   0.    ,   3.    ],
       [     nan,  29.7   ,   0.    ,   0.    ,   1.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,  89.1042,   0.    ,   1.    ,   1.    ],
       [     nan,   7.2292,   0.    ,   0.    ,   3.    ],
       [     nan,  69.55  ,   2.    ,   8.    ,   3.    ],
       [     nan,   9.5   ,   0.    ,   0.    ,   3.    ],
       [     nan,   7.8958,   0.    ,   0.    ,   3.    ],
       [     nan,  23.45  ,   2.    ,   1.    ,   3.    ]])

In [7]:
y = known_age[:, 0]
y

array([22.  , 38.  , 26.  , 35.  , 35.  , 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 14.  , 55.  ,  2.  , 31.  , 35.  ,
       34.  , 15.  , 28.  ,  8.  , 38.  , 19.  , 40.  , 66.  , 28.  ,
       42.  , 21.  , 18.  , 14.  , 40.  , 27.  ,  3.  , 19.  , 18.  ,
        7.  , 21.  , 49.  , 29.  , 65.  , 21.  , 28.5 ,  5.  , 11.  ,
       22.  , 38.  , 45.  ,  4.  , 29.  , 19.  , 17.  , 26.  , 32.  ,
       16.  , 21.  , 26.  , 32.  , 25.  ,  0.83, 30.  , 22.  , 29.  ,
       28.  , 17.  , 33.  , 16.  , 23.  , 24.  , 29.  , 20.  , 46.  ,
       26.  , 59.  , 71.  , 23.  , 34.  , 34.  , 28.  , 21.  , 33.  ,
       37.  , 28.  , 21.  , 38.  , 47.  , 14.5 , 22.  , 20.  , 17.  ,
       21.  , 70.5 , 29.  , 24.  ,  2.  , 21.  , 32.5 , 32.5 , 54.  ,
       12.  , 24.  , 45.  , 33.  , 20.  , 47.  , 29.  , 25.  , 23.  ,
       19.  , 37.  , 16.  , 24.  , 22.  , 24.  , 19.  , 18.  , 19.  ,
       27.  ,  9.  , 36.5 , 42.  , 51.  , 22.  , 55.5 , 40.5 , 51.  ,
       16.  , 30.  , 44.  , 40.  , 26.  , 17.  ,  1.  ,  9.  , 45.  ,
       28.  , 61.  ,  4.  ,  1.  , 21.  , 56.  , 18.  , 50.  , 30.  ,
       36.  ,  9.  ,  1.  ,  4.  , 45.  , 40.  , 36.  , 32.  , 19.  ,
       19.  ,  3.  , 44.  , 58.  , 42.  , 24.  , 28.  , 34.  , 45.5 ,
       18.  ,  2.  , 32.  , 26.  , 16.  , 40.  , 24.  , 35.  , 22.  ,
       30.  , 31.  , 27.  , 42.  , 32.  , 30.  , 16.  , 27.  , 51.  ,
       38.  , 22.  , 19.  , 20.5 , 18.  , 35.  , 29.  , 59.  ,  5.  ,
       24.  , 44.  ,  8.  , 19.  , 33.  , 29.  , 22.  , 30.  , 44.  ,
       25.  , 24.  , 37.  , 54.  , 29.  , 62.  , 30.  , 41.  , 29.  ,
       30.  , 35.  , 50.  ,  3.  , 52.  , 40.  , 36.  , 16.  , 25.  ,
       58.  , 35.  , 25.  , 41.  , 37.  , 63.  , 45.  ,  7.  , 35.  ,
       65.  , 28.  , 16.  , 19.  , 33.  , 30.  , 22.  , 42.  , 22.  ,
       26.  , 19.  , 36.  , 24.  , 24.  , 23.5 ,  2.  , 50.  , 19.  ,
        0.92, 17.  , 30.  , 30.  , 24.  , 18.  , 26.  , 28.  , 43.  ,
       26.  , 24.  , 54.  , 31.  , 40.  , 22.  , 27.  , 30.  , 22.  ,
       36.  , 61.  , 36.  , 31.  , 16.  , 45.5 , 38.  , 16.  , 29.  ,
       41.  , 45.  , 45.  ,  2.  , 24.  , 28.  , 25.  , 36.  , 24.  ,
       40.  ,  3.  , 42.  , 23.  , 15.  , 25.  , 28.  , 22.  , 38.  ,
       40.  , 29.  , 45.  , 35.  , 30.  , 60.  , 24.  , 25.  , 18.  ,
       19.  , 22.  ,  3.  , 22.  , 27.  , 20.  , 19.  , 42.  ,  1.  ,
       32.  , 35.  , 18.  ,  1.  , 36.  , 17.  , 36.  , 21.  , 28.  ,
       23.  , 24.  , 22.  , 31.  , 46.  , 23.  , 28.  , 39.  , 26.  ,
       21.  , 28.  , 20.  , 34.  , 51.  ,  3.  , 21.  , 33.  , 44.  ,
       34.  , 18.  , 30.  , 10.  , 21.  , 29.  , 28.  , 18.  , 28.  ,
       19.  , 32.  , 28.  , 42.  , 17.  , 50.  , 14.  , 21.  , 24.  ,
       64.  , 31.  , 45.  , 20.  , 25.  , 28.  ,  4.  , 13.  , 34.  ,
        5.  , 52.  , 36.  , 30.  , 49.  , 29.  , 65.  , 50.  , 48.  ,
       34.  , 47.  , 48.  , 38.  , 56.  ,  0.75, 38.  , 33.  , 23.  ,
       22.  , 34.  , 29.  , 22.  ,  2.  ,  9.  , 50.  , 63.  , 25.  ,
       35.  , 58.  , 30.  ,  9.  , 21.  , 55.  , 71.  , 21.  , 54.  ,
       25.  , 24.  , 17.  , 21.  , 37.  , 16.  , 18.  , 33.  , 28.  ,
       26.  , 29.  , 36.  , 54.  , 24.  , 47.  , 34.  , 36.  , 32.  ,
       30.  , 22.  , 44.  , 40.5 , 50.  , 39.  , 23.  ,  2.  , 17.  ,
       30.  ,  7.  , 45.  , 30.  , 22.  , 36.  ,  9.  , 11.  , 32.  ,
       50.  , 64.  , 19.  , 33.  ,  8.  , 17.  , 27.  , 22.  , 22.  ,
       62.  , 48.  , 39.  , 36.  , 40.  , 28.  , 24.  , 19.  , 29.  ,
       32.  , 62.  , 53.  , 36.  , 16.  , 19.  , 34.  , 39.  , 32.  ,
       25.  , 39.  , 54.  , 36.  , 18.  , 47.  , 60.  , 22.  , 35.  ,
       52.  , 47.  , 37.  , 36.  , 49.  , 49.  , 24.  , 44.  , 35.  ,
       36.  , 30.  , 27.  , 22.  , 40.  , 39.  , 35.  , 24.  , 34.  ,
       26.  ,  4.  , 26.  , 27.  , 42.  , 20.  , 21.  , 21.  , 61.  ,
       57.  , 21.  , 26.  , 80.  , 51.  , 32.  ,  9.  , 28.  , 32.  ,
       31.  , 41.  , 20.  , 24.  ,  2.  ,  0.75, 48.  , 19.  , 56.  ,
       23.  , 18.  , 21.  , 18.  , 24.  , 32.  , 23.  , 58.  , 50.  ,
       40.  , 47.  , 36.  , 20.  , 32.  , 25.  , 43.  , 40.  , 31.  ,
       70.  , 31.  , 18.  , 24.5 , 18.  , 43.  , 36.  , 27.  , 20.  ,
       14.  , 60.  , 25.  , 14.  , 19.  , 18.  , 15.  , 31.  ,  4.  ,
       25.  , 60.  , 52.  , 44.  , 49.  , 42.  , 18.  , 35.  , 18.  ,
       25.  , 26.  , 39.  , 45.  , 42.  , 22.  , 24.  , 48.  , 29.  ,
       52.  , 19.  , 38.  , 27.  , 33.  ,  6.  , 17.  , 34.  , 50.  ,
       27.  , 20.  , 30.  , 25.  , 25.  , 29.  , 11.  , 23.  , 23.  ,
       28.5 , 48.  , 35.  , 36.  , 21.  , 24.  , 31.  , 70.  , 16.  ,
       30.  , 19.  , 31.  ,  4.  ,  6.  , 33.  , 23.  , 48.  ,  0.67,
       28.  , 18.  , 34.  , 33.  , 41.  , 20.  , 36.  , 16.  , 51.  ,
       30.5 , 32.  , 24.  , 48.  , 57.  , 54.  , 18.  ,  5.  , 43.  ,
       13.  , 17.  , 29.  , 25.  , 25.  , 18.  ,  8.  ,  1.  , 46.  ,
       16.  , 25.  , 39.  , 49.  , 31.  , 30.  , 30.  , 34.  , 31.  ,
       11.  ,  0.42, 27.  , 31.  , 39.  , 18.  , 39.  , 33.  , 26.  ,
       39.  , 35.  ,  6.  , 30.5 , 23.  , 31.  , 43.  , 10.  , 52.  ,
       27.  , 38.  , 27.  ,  2.  ,  1.  , 62.  , 15.  ,  0.83, 23.  ,
       18.  , 39.  , 21.  , 32.  , 20.  , 16.  , 30.  , 34.5 , 17.  ,
       42.  , 35.  , 28.  ,  4.  , 74.  ,  9.  , 16.  , 44.  , 18.  ,
       45.  , 51.  , 24.  , 41.  , 21.  , 48.  , 24.  , 42.  , 27.  ,
       31.  ,  4.  , 26.  , 47.  , 33.  , 47.  , 28.  , 15.  , 20.  ,
       19.  , 56.  , 25.  , 33.  , 22.  , 28.  , 25.  , 39.  , 27.  ,
       19.  , 26.  , 32.  ])

In [8]:
X = known_age[:, 1:]
X

array([[ 7.25  ,  0.    ,  1.    ,  3.    ],
       [71.2833,  0.    ,  1.    ,  1.    ],
       [ 7.925 ,  0.    ,  0.    ,  3.    ],
       ...,
       [30.    ,  0.    ,  0.    ,  1.    ],
       [30.    ,  0.    ,  0.    ,  1.    ],
       [ 7.75  ,  0.    ,  0.    ,  3.    ]])

In [9]:
# fit到RandomForestRegressor之中
rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
rfr.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=2000, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [12]:
# 用得到的模型进行未知年龄结果预测
predictedAges = rfr.predict(unknown_age[:, 1::])
predictedAges

array([23.83895259, 32.06649305, 29.51820514, 29.51820514, 22.38011324,
       27.94720616, 36.10804822, 35.2958243 , 22.87630686, 27.94720616,
       30.70572678, 33.12898535, 35.2958243 , 23.45968333, 44.06483036,
       41.20008848, 17.09991595, 27.94720616, 30.70572678, 23.32262739,
       30.70572678, 30.70572678, 27.94720616, 27.51545426, 33.55117591,
       30.70572678, 35.2958243 , 25.78337698, 25.34409583, 29.78279613,
       25.52340334, 10.86986696, 26.03188214, 49.5542756 ,  7.30954704,
       10.86986696, 31.71894048, 46.24976824, 33.12898535, 35.2958243 ,
       35.2958243 , 10.86986696, 31.09342985, 27.94720616,  7.30954704,
       31.10838452, 20.80015413, 33.12898535, 29.78279613, 34.62028571,
       35.2958243 , 35.2958243 , 36.87489821, 35.2958243 , 35.05181757,
       57.74249226, 41.20008848, 41.57487718, 35.2958243 , 23.31368333,
       42.57451554, 30.70572678, 28.57888393, 10.86986696, 23.31368333,
       31.42587794, 27.94720616, 26.68916849, 59.96916448, 29.51820514,
       22.38011324, 22.38011324, 33.12898535, 22.87630686, 35.2958243 ,
       31.94479345, 27.94720616, 19.89558113,  7.30954704, 27.94720616,
       20.68131488, 35.05181757, 30.70572678, 27.94720616, 29.78279613,
       35.2958243 , 26.68916849, 23.47643239, 24.10899881, 30.70572678,
       44.06001827, 35.2958243 , 30.70572678, 35.05181757, 19.89558113,
       29.78279613, 44.65953056, 35.05181757,  7.30954704, 24.10899881,
       18.19479484, 25.7554753 , 26.82073281, 49.8994093 , 30.70572678,
       34.17374861, 29.51820514, 22.87630686, 38.5155    , 22.87630686,
        8.01370298, 24.33021696, 32.79502428, 26.3814249 , 38.5155    ,
       35.2958243 , 30.70572678, 30.70572678, 22.87630686, 35.2958243 ,
       20.07016773, 29.04293865, 30.70572678, 27.45639428, 24.40235514,
       29.51820514, 27.94720616, 37.51615833, 27.86873699, 33.12898535,
       35.2958243 , 19.89558113, 38.83477484, 26.68916849, 29.56889809,
       31.10838452, 27.94720616, 26.3814249 , 27.94720616, 27.51545426,
       39.08817814, 35.05181757, 23.47643239, 29.56889809, 19.89558113,
       17.09991595, 49.8994093 , 27.30887391, 19.89558113, 35.05181757,
       27.94720616, 27.94720616, 38.42663175, 24.33021696, 39.17490238,
       33.55117591, 29.51820514, 35.2958243 , 19.89558113, 16.1939502 ,
       35.2958243 , 10.86986696, 50.38328427, 38.83477484, 35.09787898,
       29.56889809, 35.2958243 , 22.87630686, 30.70572678, 50.91095013,
       10.86986696, 43.96476448, 22.87630686, 10.86986696, 25.97788916,
       27.94720616, 16.1939502 ])

In [13]:
df.Age.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [14]:
df.loc[ (df.Age.isnull()), 'Age' ]

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [15]:
# 用得到的预测结果填补原缺失数据
df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges

In [16]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.00000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.00000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.00000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.00000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.00000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.00000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.00000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,16.19395,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.00000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.00000,0,0,370376,7.7500,NaN,Q

In [25]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame

train = pd.read_csv(r"C:\Users\11004076\Downloads\train.csv")
df = pd.DataFrame(train)


### 使用 RandomForestClassifier 填补缺失的年龄属性
def set_missing_ages(df):
    
    # 把已有的数值型特征取出来丢进Random Forest Regressor中
    age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]

    # 乘客分成已知年龄和未知年龄两部分
    known_age = age_df[age_df.Age.notnull()].as_matrix() #篩選有年齡的成矩陣
    unknown_age = age_df[age_df.Age.isnull()].as_matrix() #篩選無年齡的成矩陣

    # y即目标年龄
    y = known_age[:, 0] #矩陣的第0欄

    # X即特征属性值
    X = known_age[:, 1:] #矩陣的第1~最後欄

    # fit到RandomForestRegressor之中
    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)
    
    # 用得到的模型进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age[:, 1::])
    
    # 用得到的预测结果填补原缺失数据
    df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges 
    
    return df, rfr

#Cabin遺失太多，所以直接分有無
def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

train, rfr = set_missing_ages(train)

C:\Users\11004076\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
C:\Users\11004076\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [31]:
rfr

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=2000, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [29]:
train = set_Cabin_type(train)

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          891 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB